

body{
    background-color: darkslategray;
    font-size: 3em;
    height: 100vh;
    flex-direction: column-reverse;
    color: rgba(213, 25, 25, 0.748);
    justify-content: center;
}







img{
   size: 9px;
    border-radius: 20px;
    
}


